// COLORS

$color-grey-light: #d3d3d3;
$color-grey-light-2: #f8f8f8;

$color-orange: #f8a319;

$color-primary: #2e2e2e;

$color-secondary: #1e1e1e;

$color-black: #000000;
$color-black-light: #353433;

$color-white: #ffffff;

$bp_laptop: 90em; //1440px
$bp-largest: 75em; // 1200px
$bp-smallest: 21.87em; //350px
