.objects {
	background-color: $color-grey-light-2;

	box-shadow: 0 0.2rem 0.6rem rgba($color-black, 0.1);
	margin-top: 0.4rem;
	cursor: pointer;

	@media only screen and (max-width: $bp-smallest) {
		overflow: hidden;
	}

	&__block {
		display: none;
	}

	&__wrapper {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		padding-bottom: 10rem;
		margin-top: 6.7rem;

		animation: moveToBottom 0.4s;
	}

	&__item {
		position: relative;

		&:hover img,
		&:focus img,
		&:target img {
			transform: scale(1);
			filter: blur(3px) brightness(80%);
		}

		&:hover figcaption,
		&:focus figcaption,
		&:target figcaption {
			opacity: 1;
			transform: translate(-50%, -50%);
		}
	}

	&__slide {
		width: 33.33333%;
	}

	&__img {
		box-sizing: content-box;
		width: 100%;
		height: 100%;
		backface-visibility: hidden;
		transition: all 0.5s;
		cursor: pointer;
		transform: scale(1);
	}

	&__caption {
		transform: skewX(12deg);
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, 20%);
		color: $color-white;
		font-size: 1.7rem;
		text-align: center;
		transition: all 0.5s;
		opacity: 0;
		backface-visibility: hidden;
		cursor: pointer;
	}
}
