.subheader-logo {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 7.9rem;

	@media only screen and (max-width: $bp-medium) {
		margin-top: 5rem;
	}

	@media only screen and (max-width: $bp-small) {
		margin-top: 4rem;
	}

	@media only screen and (max-width: $bp-smallest) {
		margin-top: 3rem;
	}

	&__logo {
		width: 20.4rem;
		height: 10rem;
	}
}
