.subheader-logo {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 7.9rem;

	@media only screen and (max-width: $bp-smallest) {
		margin-top: 3rem;
	}

	&__logo {
		width: 204px;
		height: 100px;

		@media only screen and (max-width: $bp-small) {
			width: 14.3rem;
			height: 7.7rem;
		}
	}
}
